@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    /* width: 1440px; */
    height: 960px;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Bebas Neue';
}

main {
    height: 960px;
    margin: 0;
    padding: 0;
    outline: 0;
}

section.title {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    background-image: url(assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section.about {
    width: 100%;
    height: 100%;
    padding-top: 15%;
    background-image: url(assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.about span {
    height: 50%;
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: 'open sans';

}

.about span p {
    font-size: 65px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

}

section.feature {
    width: 100%;
    height: 100%;
    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.feature span {
    height: 60%;
    margin-left: 35%;
    font-family: Open sans;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.feature span p {
    font-size: 20px;
    color: #eaf6ff;
    margin: 0 0 0 0;
}

.feature span h1 {
    font-size: 45px;
    font-weight: normal;
    margin-top: 0;
    margin-left: 43px;
}

.feature span h2 {
    font-size: 25px;
    font-weight: normal;
    margin-top: 0;
    color: yellow;
    margin-left: 3px;
}

.feature span h4 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 0;
    color: white;
    margin-left: 3px;
}

.feature ul.rb {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.feature ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 20em;
    min-height: 50px;
    border-left: 1px groove #fff;
    padding: 0 0 20px 20px;
    position: relative;
}

.feature ul.rb li:last-child {
    border-left: 0;
}

.feature ul.rb li::before {
    position: absolute;
    left: -15px;
    top: -5px;
    content: " ";
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 400%;
    background: #6d6f6e;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

ul.rb li .textf {
    color: #8a8d8c;
    position: relative;
    width: 300px;
    font-size: 12px;
}

section.sq {
    width: 100%;
    height: 100%;
    background-image: url(assets/requirements.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.sq span {
    height: 100%;
    margin-left: 3%;
    font-family: Open sans;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, Open sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rtg {
    font-size: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-top: 5%;
}

section.sq h1 {
    width: 40%;
    font-size: 20;
    margin-top: 10%;
    font-weight: normal;
    margin-left: 5%;
}

section.sq span h3 {
    width: 40%;
    font-size: 26;
    color: yellow;
}

section.sq span h4 {
    font-size: 20;
}

section.topscore {
    width: 100%;
    height: 98%;
    /* background-image: url(assets/top-score-bg.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section.topscore span {
    width: 100%;
    height: 98%;
    color: white;
}

section.quotes {
    width: 100%;
    height: 100%;
    background-image: url(assets/newsletter.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.quotes div {
    padding-top: 15%;
}

.quotes div img {
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 5%;
    width: 75%;
}

.quotes form {
    width: 40%;
    margin-top: 15%;
    font-family: Open sans;
}

.quotes form div {
    height: 40%;
    font-family: Open sans;
}

.quotes input[text],
input[type=submit] {
    border-radius: 15px;
    color: black;
    background-color: yellow;
    font-weight: bold;
    font-size: 11px;
    padding: 10px 17px 10px 17px;
    display: inline-block;
    box-sizing: border-box;
    border-color: yellow;

}

.quotes input[type=submit]:hover {
    opacity: 0.8;
}

.quotes form div h2 {
    width: 40%;
    font-size: 46;
    color: white;
}

.quotes h1 {
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;

}

.quotes form p {
    font-size: 11px;
    color: white;
    margin-top: 0;
    font-weight: normal;
}

.quotes form h3 {
    width: 20%;
    font-size: 11px;
    color: white;
    margin-bottom: 0;
    margin-right: 70%;
}

#titlegame {
    font-family: 'Open Sans';
    font-size: 80px;
    font-weight: bolder;
    color: white;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'open sans';
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: none;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-family: 'open sans';
    font-size: 56px;
    font-weight: bold;
    color: white;
    background: none;
    display: flex;
    justify-content: space-evenly;

}

p {
    font-family: 'open sans';
    font-size: 24px;
    font-weight: 400;
    color: white;
    background: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
    align-items: center;
}

#logo {
    width: 8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 80px;
    margin-top: 10px;
    background: local;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    opacity: 80%;
    height: 60px;
}

header {

    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#thestory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    bottom: 0px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Open Sans';
}

.menu {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    flex: 3;
    margin-top: 10px;
    background: none;
    text-decoration: none;


}

.menu span {
    width: 13%;
    padding-left: 15px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    color: white;
    background: local;
    margin-top: 10px;
}

.menu span a {
    color: white;
    text-decoration: none;
}

.btn-grup {
    margin-top: 40px;
}

.btn {
    border-radius: 7px;
    padding: 15px 60px;
    margin-left: 20px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: orange;
    border: 1px solid orange;

}

.btnsubsrib {
    width: 20%;
    border-radius: 7px;
    font-family: Open Sans;
    margin-left: 20px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: orange;
    border: 1px solid orange;

}

.signuplogin {
    width: 20%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: local;
    line-height: 50px;
    padding-left: 100px;
}

.signuplogin span {
    padding-inline: 1rem;
    background: local;
}





















































/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
    .news-two-column {
        min-height: 232.5px;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section-padding {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .team-thumb {
        left: 0;
        width: auto;
    }

    .news-two-column {
        height: auto !important;
        min-height: inherit;
    }

    .news .col-12 .news-two-column:first-child {
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 767px) {
    .news-detail-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 32px;
    }

    .heroText p {
        font-size: 14px;
    }
}

@media screen and (max-width: 359px) {
    .news-detail-title {
        font-size: 22px;
    }
}