body {
    width: 1440px;
    height: 960px;
    margin: 0;
    padding: 0;
    outline: 0;
    background-image: url(assets/main-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#h1 {
    font-family: 'Arial';
    font-size: 65px;
    font-weight: 550;
    color: white;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-family: 'open sans';
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: none;
    display: flex;
    justify-content: space-evenly;
}

p {
    font-family: 'open sans';
    font-size: 24px;
    font-weight: 400;
    color: white;
    background: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
    align-items: center;
}

#logo {
    width: 8%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 80px;
    margin-top: 10px;
    background: local;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    opacity: 80%;
    height: 60px;
}

header {

    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#thestory {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
}

.menu {
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    flex: 3;
    margin-top: 10px;
    background: none;
    text-decoration: none;


}

.menu span {
    width: 80%;
    padding-left: 1px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
    padding-inline: 1rem;
    color: white;
    background: local;
    margin-top: 7px;
}

.menu span a {
    color: white;
}

.btn-grup {
    margin-top: 40px;
}

.btn {
    border-radius: 7px;
    padding: 15px 60px;
    margin-left: 20px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: orange;
    border: 1px solid orange;

}

.signuplogin {
    width: 40%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: local;
    line-height: 50px;
    padding-left: 100px;
}

.signuplogin span {
    padding-inline: 1rem;
    background: local;
}





















































/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
    .news-two-column {
        min-height: 232.5px;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section-padding {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .team-thumb {
        left: 0;
        width: auto;
    }

    .news-two-column {
        height: auto !important;
        min-height: inherit;
    }

    .news .col-12 .news-two-column:first-child {
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 767px) {
    .news-detail-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 32px;
    }

    .heroText p {
        font-size: 14px;
    }
}

@media screen and (max-width: 359px) {
    .news-detail-title {
        font-size: 22px;
    }
}